.app-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-main__form {
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.25);
    min-width: calc(var(--figma-form-width) / var(--figma-width) * 100vmax);
    min-height: calc(var(--figma-form-height) / var(--figma-height) * 100vmin);
    transition: outline var(--animation-time) ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app-main__header {
    font-weight: normal;
    margin: 0;
    transition: color var(--animation-time) ease;

}
.app-main__input, .app-main__label {
    display: none;
}
.app-main__btn {
    margin-top: 5%;
    min-width: calc(var(--figma-button-width) / var(--figma-width) * 100vmax);
    min-height: calc(var(--figma-button-height) / var(--figma-height) * 100vmin);
}

.app-main__error {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--error-bg-color);
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 5px;
    z-index: 1;
}
.drag-over {
    outline: 5px dashed var(--dash-color);
    outline-offset: -15px;
    color: var(--dash-color);
}