:root {
    --button-color: #6346B4;
    --dash-color: #AEAEAE;
    --error-bg-color: #FF6565;
    --background-color: #CBCBCB;

    --figma-width: 1440;
    --figma-height: 1024;
    --figma-form-width: 823;
    --figma-form-height: 367;

    --figma-button-width: 274;
    --figma-button-height: 48;
    --figma-button-margin-top: 75;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
