:root {
    --default-colorr: #6346B4;
    --hover-color: #A88EF0;
    --active-color: #311F63;
    --dash-color: #AEAEAE;
    --error-bg-color: #FF6565;
    --background-color: #CBCBCB;

    --figma-width: 1440;
    --figma-height: 1024;
    --figma-form-width: 823;
    --figma-form-height: 367;

    --figma-button-width: 274;
    --figma-button-height: 48;
    --figma-button-margin-top: 75;
    --animation-time: 0.3s;
}
body {
    background-color: var(--background-color);
    font-family: 'Noto Sans', sans-serif !important;
}
.main-btn {
    background-color: var(--default-colorr);
    transition: background-color var(--animation-time) ease;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 16px;
}
.main-btn:hover {
    background-color: var(--hover-color);
}
.main-btn:active {
    background-color: var(--active-color);
}