:root {
    --thead-border-bottom-color: #898989;
    --other-case-border-color: #C0C0C0;
}

.app-viewer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.app-viewer__btn {
    margin-top: 1.5%;
    margin-right: 1%;
    margin-bottom: 1.5%;
}

.app-viewer__table {
    align-self: flex-end;
    text-align: left;
    border-radius: 10px 0 0 0;
    background-color: white;
    border-collapse: collapse;
    width: 95%;
}

.app-viewer__table .table__row {
    display: flex;
    transition: background-color var(--animation-time) ease;
}

.app-viewer__table .table__head,
.app-viewer__table .table__data {
    padding: 10px 10px 10px 20px;
    font-weight: normal;
    overflow: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;
}

/*name*/
.app-viewer__table .table__head:first-child,
.app-viewer__table .table__data:first-child {
    flex: 4;
}
/*phone*/
.app-viewer__table .table__head:nth-child(2),
.app-viewer__table .table__data:nth-child(2) {
    flex: 2;
}
.app-viewer__table .table__head:nth-child(3),
.app-viewer__table .table__data:nth-child(3) {
    flex: 3;
}
.app-viewer__table .table__head:nth-child(4),
.app-viewer__table .table__data:nth-child(4) {
    flex: 2;
}
/*address*/
.app-viewer__table .table__head:last-child,
.app-viewer__table .table__data:last-child {
    flex: 5;
}

.app-viewer__table .table__head {
    border-bottom: 2px solid var(--thead-border-bottom-color);
    border-right: 1px solid var(--other-case-border-color);
}

.app-viewer__table .table__data {
    border-bottom: 1px solid var(--other-case-border-color);
}
.app-viewer__table .table__row:not(:first-child):hover{
    background-color: var(--hover-color);
}
